* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #293A56;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    animation: walking 10s linear infinite;
    align-self: flex-end;
}

.aboutme{
    
}

.content {
    background-color: #F3F3F3;
   
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: left;
}
.skills{
    background-image: url(images/arkaplan.png);
    background-position: 100%;
    height: auto;
    
}

.timeline
{
    background-image: url(images/arkaplan.png);
    background-position: 100%;
   
}



h1, h2 {
    color: #2C3E50;
    margin-bottom: 15px;
    font-family: monospace;
}


p {
    line-height: 1.6;
    margin-bottom: 15px;
}

img {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 150px;
    height: auto;
}



/* Responsive styles */
@media (max-width: 600px) {
    .content {
        padding: 20px;
    }
    
    h1, h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1em;
    }
}
